{{#if saved}} <div role="alert" class="alert alert-success">Shortcut "{{shortcut}}" successfully saved !</div> {{/if}}
{{#if deleted}} <div role="alert" class="alert alert-success">Shortcut "{{shortcut}}" successfully deleted !</div> {{/if}}
{{#if not_found}} <div role="alert" class="alert alert-error">Shortcut "{{shortcut}}" does not exist yet.</div> {{/if}}
{{#if wrong_url}} <div role="alert" class="alert alert-error">Wrong format for provided URL.</div> {{/if}}

<form action="/{{shortcut}}" method="POST">
    <input type="text" name="url" placeholder="https://my-favorite-tool" value="{{ url }}" pattern="https?://(www\.)?[-a-zA-Z0-9()@:%_\+.~#?&//=]{1,256}"
            title="This field should be an URL starting with http(s)://" />
    <input type="submit" value="Add shortcut">
    <input type="submit" value="Delete shortcut" role="deletion" formmethod="DELETE">
</form>